h1, h3, h5, h6{
    font-family: 'Inconsolata', monospace;
}


#win-message, #loss-message{
  padding-top: 30px;
  color: green;  
}


#hangmanImage{
    padding-top: 20px;
}

#letterGuessed-text{
    color: red;
}